/* revert pesky margins */
body{
  margin: 0;
}
body {
  /* toy story background styling */
  width: 100vw;
  height: 100vh;
  background-image: url("assets/toy-story-cloud.jpg");
  background-size: 400px;
  background-repeat: repeat;
  /* centre main */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* main etch-a-sketch */
#etch {
  width: 90vw;
  height: 90vh;
  background-color: hsl(358, 75%, 45%);
  border-radius: 30px;
}