/* revert pesky margins */
body{
  margin: 0;
}
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* toy story background styling */
  width: 100vw;
  height: 100vh;
  background-image: url("assets/toy-story-cloud.jpg");
  background-size: 400px;
  background-repeat: repeat;
  /* centre main */
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
/* main etch-a-sketch */
#etch {
  width: 90vw;
  height: 90vh;
  background-color: hsl(1, 100%, 70%);
  border-radius: 30px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
#etch > h1 {
  font-family: 'lobster', Arial, sans-serif;
  font-size: min(65px, 15vw);
  color: hsl(53, 100%, 70%);
  text-align: center;
  margin: 10px;
}
#container {
  background-color: white;
  width: 95%;
  height: 70%;
  display: grid;
  grid-template-columns: repeat(16, auto);
}
.grid-element {
  border: 1px solid black;
}