body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* toy story background styling */
  min-height: 100vh;
  background-image: url("assets/toy-story-cloud.jpg");
  background-size: 400px;
  background-repeat: repeat;
  /* centre main */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  box-sizing: border-box;
}
/* main etch-a-sketch */
#etch {
  border-radius: 30px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: hsl(1, 100%, 70%);
  padding: 0 1rem 1rem;
}
#etch > h1 {
  font-family: 'lobster', Arial, sans-serif;
  font-size: min(65px, 15vw);
  color: hsl(53, 100%, 70%);
  text-align: center;
  margin: 10px;
}
#grid-container {
  background-color: white;
  display: grid;
}
.grid-element {
  border: 1px solid gainsboro;
  transition-property: 'background-color';
  transition-duration: 0.8s;
  transition-timing-function: ease;
}
#controls {
  margin-top: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
}
#controls :where(button, select) {
  background-color: aliceblue;
  font-size: 1rem;
  padding: 0.25rem;
  text-align: center;
  border: none;
  border-radius: 0.5rem;
}